.register {
  position: relative;

  width  : 740px;
  height : 498px;
  margin : 0 auto;

  background: #FFF;
}

.register_venta {
  position: relative;

  width  : 740px;
  height : 498px;
  margin : 0 auto;

  background: #FFF;
}