/* Header */
.Header-principal{
    background: rgb(53, 53, 82);
    color: white;
    height: 80px;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
    .Header-principal a{
        color: white;
        text-decoration: none;
    }

.Nav-header {
	float: right;
}
	.Nav-header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		.Nav-header ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			.Nav-header ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				.Nav-header ul li a:hover {
					background: #0b76a6;
				}
